.vol-page-wrapper{
    padding:4rem 0;
.form-wrapper{
        // box-shadow:0px 0px 10px 2px gray;
        border:1px solid lightgray;
    width:50%;
    margin:auto;
    border-radius:4px;
}

}
.volunteer-form{
    width:50%;
    margin:auto;
    text-align:center;
    background-color:white;
    padding:1rem 0;
    label{
        text-align:left;
    }
}